body{
    background-color: whitesmoke;
    margin: auto 50vw;

}
.drum-Machine{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2.5em;
    padding: 5em;
}
h4{
    font-family: Arial;
}
button{
    margin: 1em;
    padding: 2em;
    border: 1px solid black;
}